@media (min-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li {
      padding-left: 4rem;
    }
  }

  .imglogo {
    height: 180px;
    width: 200px;
  }

  .tabla {
    height: 300px;
    width: 100%;
  }
}
