@media (min-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
