@media (min-width: 768px) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
  .navmd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .limd {
      padding-left: 4rem;
      .imglogo {
        height: 180px;
        width: 200px;
      }
    }
  }
}
